source https://nuget.org/api/v2

nuget Chiron ~> 6.0
nuget FSharp.Core >= 3.1.2.5
nuget NodaTime >= 1.0
nuget Suave >= 0.31

group Build
  source https://nuget.org/api/v2

  nuget FSharp.Formatting
  nuget FAKE
  nuget Octokit
  nuget SourceLink.Fake

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit
  nuget NUnit.Runners
  nuget Unquote

